<div class="container mt-3 mb-4" id="titleHome">
  <h1 class="text-center text-uppercase font-weight-bold">Travel to the Rios Region</h1>
  <h6 class="text-center font-weight-light"> Nature and fun, the best plan for you</h3>
</div>

<div
  id="myCarousel"
  class="carousel slide"
  data-interval="1000"
  data-bs-ride="carousel"
>
  <!-- Barras Inferiores -->
  <div class="carousel-indicators top">
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>

  <!-- PHOTOS -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="img/carousel/Carousel-pangui.jpg"
        class="img-thumbnail"
        alt=""
      />
      <div class="container">
        <div class="carousel-caption">
          <h2>Titulo1</h2>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <img
        src="img/carousel/Carousel-geometricas.jpg"
        class="img-thumbnail"
        alt=""
      />

      <div class="container">
        <div class="carousel-caption">
          <h2>Titulo2</h2>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <img
        src="img/carousel/Carousel-RegionRios.jpeg"
        class="img-thumbnail"
        alt=""
      />
      <div class="container">
        <div class="carousel-caption">
          <h2>Titulo3</h2>
        </div>
      </div>
    </div>
  </div>

  <!-- BOTONES -->
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">السابق</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">التالي</span>
  </button>
</div>
