<div id="myGalleryPlace" class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <!-- /.col-lg-4  -->
    <div class="col-lg-4">
      <div class="card">
        <img
        src="img/gallery-place/huilo-huilo-Chile.png"
        class="rounded-circle img-responsive d-block"
          alt=""
        />
        <div class="card-body">
          <div class="d-flex justify-content-between align-items">
            <h3 class="card-title mb-0">Huilo Huilo</h3>
            <a href="#" class="btn btn-primary">More...</a>
          </div>
          <p class="card-text mt-2">
            La Reserva Biológica Huilo Huilo es un área natural protegida
            privada que se ubica en medio de Los Andes araucanos, a 860 km al
            sur de Santiago de Chile, en la comuna de Panguipulli, en la Región
            de los Ríos. Limita al este con Argentina. Se caracteriza por la
            conservación del huemul del sur y de tres nuevos tipos de
            helechos,2​ además de la protección de la flora y fauna y el cuidado
            de las comunidades locales.
          </p>
        </div>
      </div>
    </div>

    <!-- /.col-lg-4  -->
    <div class="col-lg-4">
      <div class="card">
        <img
          src="img/gallery-place/photo5jpg.jpg"
          class="rounded-circle img-responsive d-block"
          alt=""
        />
        <div class="card-body">
          <div class="d-flex justify-content-between align-items">
            <h3 class="card-title mb-0">Valdivia</h3>
            <a href="#" class="btn btn-primary">More...</a>
          </div>
          <p class="card-text mt-2">
            Valdivia es una ciudad y comuna de Chile, capital de la Región de
            Los Ríos y de la provincia de Valdivia. Se encuentra a 847,6 km al
            sur de Santiago, la capital de Chile.​ Está emplazada en la
            confluencia de los ríos Calle Calle, Cau-cau y el río Cruces, y se
            encuentra a 15 km de la bahía de Corral.
          </p>
        </div>
      </div>
    </div>

    <!-- /.col-lg-4  -->
    <div class="col-lg-4">
      <div class="card">
        <img
          src="img/gallery-place/mejores_termas_pucon_geometricas-696x464.jpg"
          class="rounded-circle img-responsive d-block"
          alt=""
        />
        <div class="card-body">
          <div class="d-flex justify-content-between align-items">
            <h3 class="card-title mb-0">Coñaripe</h3>
            <a href="#" class="btn btn-primary">More...</a>
          </div>
          <p class="card-text mt-2">
            Coñaripe es una localidad lacustre de la comuna de Panguipulli, de
            1.477 habitantes1​ ubicado en la ribera oriente del lago Calafquén,
            en la Región de Los Ríos.Destaca la playa de Coñaripe con su hermosa
            costanera de árboles y con una extensión de casi 3 km. Por ella pasa
            un tramo del Sendero de Chile. También se encuentra cercana la playa
            pública del lago Pellaifa, accesible por un paso peatonal.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
